<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Eggs Are Cool" %></h1>
  <p>A versatile breakfast framework that<br/>does not compromise nutrition and delectability.</p>
</section>

<%= for %{title: title, body: body} <- @posts do %>
  <h1><%= title %></h1>
  <p><%= body %></p>
<% end %>